.taskCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 1rem 2rem;
}

.checkedContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.taskCardTitle {
  font-size: 1.1rem;
  color: #071d55;
  font-weight: 600;
}
