.isDeleteBtn {
}

.isEditBtn {
  background-color: white;
  border: 1px solid;
  padding: 1rem;
  border-radius: 5px;
  color: #071d55;
  font-weight: 600;
}

.isEditBtn:hover {
  background-color: #071d55;
  cursor: pointer;
  color: white;
}

.isAddBtn {
}

.isSaveBtn {
}
