.background {
  background-color: #3556ab;
  padding: 1.5rem 1rem;
  height: 5rem;
}

.shadowMenuBar {
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.todoMain {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.imageContainer {
}

.image {
  width: 55px;
  height: 55px;
  border-radius: 1000px;
}

.todoTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todoBodyText {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.8rem;
}

.border {
  border: red 1px solid;
}

.editMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textColor {
  color: white;
}

.editText {
  font-size: 1.5rem;
}

.header {
  font-weight: 600;
}
